[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django-simpleui = "*"
test-plus = "*"
djangorestframework-jwt = "*"
python-slugify = "*"
django-taggit = "*"
django-markdownx = "*"
django-contrib-comments = "*"
django = "==2.1.7"
channels-redis = "*"
channels = "==2.1.7"
django-haystack = "*"
elasticsearch = "==2.4.1"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.6"
