[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django-simpleui = "*"
test-plus = "*"
djangorestframework-jwt = "*"
python-slugify = "*"
django-taggit = "*"
django-markdownx = "*"
django-contrib-comments = "*"

[dev-packages]

[requires]
python_version = "3.6"
